body { background: #623485; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-metrics-0 { color: #93be1; font-size: 14px; margin-bottom: 5px; }
.block-helper-1 { color: #1c069d; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #827db1; font-size: 21px; margin-bottom: 5px; }
.block-cart-3 { color: #aeecca; font-size: 15px; margin-bottom: 5px; }
.block-order-4 { color: #703eb7; font-size: 19px; margin-bottom: 5px; }
.block-helper-5 { color: #225922; font-size: 15px; margin-bottom: 5px; }
.block-filter-6 { color: #b8ca71; font-size: 18px; margin-bottom: 5px; }
.block-notify-7 { color: #86400b; font-size: 18px; margin-bottom: 5px; }
.block-helper-8 { color: #e0e247; font-size: 17px; margin-bottom: 5px; }
.block-token-9 { color: #9a131a; font-size: 19px; margin-bottom: 5px; }